@media all and (max-width: 767px) {
    #a {
      background-color: rgb(223, 72, 72);
    }
    #b {
      background-color: rgb(54, 40, 114);
    }
    #c {
      background-color: rgb(221, 223, 72);
    }
    #d {
      background-color: rgb(223, 72, 143);
    }
    #e {
      background-color: rgb(97, 223, 72);
    }
    #f {
      background-color: rgb(72, 125, 223);
    }
    #g {
      background-color: rgb(72, 223, 178);
    }
    #h {
      background-color: rgb(105, 77, 77);
    }
    #i {
      background-color: rgb(72, 223, 223);
    }
  }
  @media all and (min-width: 768px) {
      #a {
          background-color: rgb(212, 164, 164);
        }
        #b {
          background-color: rgb(135, 121, 196);
        }
        #c {
          background-color: rgb(215, 216, 156);
        }
        #d {
          background-color: rgb(216, 149, 180);
        }
        #e {
          background-color: rgb(156, 214, 144);
        }
        #f {
          background-color: rgb(159, 176, 209);
        }
        #g {
          background-color: rgb(134, 199, 179);
        }
        #h {
          background-color: rgb(192, 145, 145);
        }
        #i {
          background-color: rgb(182, 241, 241);
        }
  }
  @media all and (min-width: 960px){
    #a {
      background-color: rgba(212, 164, 164, 0.527);
    }
    #b {
      background-color: rgba(135, 121, 196, 0.479);
    }
    #c {
      background-color: rgba(215, 216, 156, 0.514);
    }
    #d {
      background-color: rgba(216, 149, 180, 0.685);
    }
    #e {
      background-color: rgba(156, 214, 144, 0.555);
    }
    #f {
      background-color: rgba(159, 176, 209, 0.637);
    }
    #g {
      background-color: rgba(134, 199, 179, 0.445);
    }
    #h {
      background-color: rgba(192, 145, 145, 0.514);
    }
    #i {
      background-color: rgba(182, 241, 241, 0.63);
    }
  }
  